---
import Button from "@components/button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
getLocaleFromUrl(Astro.url);
---

<section id="hero-gradient" class="bg-primary-950 dark:bg-base-950">
  <div
    class:list={[
      "relative flex min-h-[100svh] items-center justify-center overflow-hidden",
      "from-background via-background/95 to-primary/15 bg-gradient-to-br",
      "dark text-foreground pt-16",
    ]}
  >
    <!-- Animated Background Elements -->
    <div class="absolute inset-0 overflow-hidden" aria-hidden="true">
      <div class="absolute inset-0 opacity-30">
        <div
          class="animate-blob bg-primary/30 absolute top-0 -left-4 h-72 w-72 rounded-full mix-blend-multiply blur-xl"
        >
        </div>
        <div
          class="animation-delay-2000 animate-blob absolute top-0 -right-4 h-72 w-72 rounded-full bg-green-300 mix-blend-multiply blur-xl dark:bg-green-900"
        >
        </div>
        <div
          class="animation-delay-4000 animate-blob absolute -bottom-8 left-20 h-72 w-72 rounded-full bg-green-700 mix-blend-multiply blur-xl dark:bg-blue-800"
        >
        </div>

        <!-- from-primary/50 to-primary-300/50 -->
      </div>
    </div>

    <!-- Main Content -->
    <div class="site-container relative z-10">
      <div class="mx-auto max-w-4xl">
        <div class="text-center">
          <h1
            class:list={[
              "font-heading mb-6 text-4xl md:text-6xl",
              "from-primary bg-gradient-to-r via-blue-500 to-green-500 bg-clip-text text-transparent",
              "dark:from-primary dark:via-blue-400 dark:to-green-600",
            ]}
            data-aos="fade-up"
            data-aos-trigger="#hero-gradient"
            data-aos-duration="1.2"
          >
            Code. Ship. Scale.
          </h1>
          <p
            class="text-base-400 mb-12 text-xl text-pretty"
            data-aos="fade-in"
            data-aos-delay=".5"
            data-aos-trigger="#hero-gradient"
            data-aos-duration="1.2"
          >
            I create reliable and scalable systems, from foundational
            infrastructure to advanced AI implementations, ensuring optimal
            performance, seamless integration, and measurable business impact.
          </p>

          <!-- Call to Action Buttons -->
          <div
            class="flex flex-col items-center justify-center gap-4 sm:flex-row"
            data-aos="fade-in"
            data-aos-delay=".5"
            data-aos-trigger="#hero-gradient"
            data-aos-duration="1.2"
          >
            <Button
              href="#showcase-side-image"
              variant="ghost"
              class="border-border hover:border-primary"
            >
              View Work
            </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bouncing Arrow -->
  <div
    id="scroll-arrow"
    class="absolute bottom-10 flex justify-center w-full"
    data-aos="fade-up"
    data-aos-delay="1"
    data-aos-trigger="#hero-gradient"
  >
    <div class="animate-bounce text-4xl text-primary-500">↓</div>
  </div>
</section>

<script>
  // Hide the arrow when scrolling
  window.addEventListener("scroll", () => {
    const arrow = document.getElementById("scroll-arrow");
    if (window.scrollY > 50) {
      arrow.style.display = "none";
    } else {
      arrow.style.display = "flex";
    }
  });
</script>

<style>
  @keyframes blob {
    0% {
      transform: translate(0, 0) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  .animate-blob {
    animation: blob 7s infinite;
  }

  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
</style>
