---
import { Icon } from "astro-icon/components";

interface Props {
	name: string;
	url: string;
	icon: string;
}

const { name, url, icon } = Astro.props;
---

<a
	href={url}
	target="_blank"
	rel="noopener noreferrer"
	class="primary-focus inline-flex items-center text-primary dark:text-base-400 hover:text-primary-dark dark:hover:text-primary transition-colors [--social-icon-size:1rem]"
	aria-label={`Follow me on ${name}`}
>
		<Icon name={icon} class="h-[var(--social-icon-size)] w-[var(--social-icon-size)]" />
</a>